.post-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      color: #b6a571;
      text-decoration: none;
      padding-bottom: 12px;
      // text-decoration: underline;
    }
  }
}
